.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.center {
    display: flex;
    flex-direction: column;
   align-items: center;
    padding: 10px;
}
.mx-auto {
    margin: 0 auto;
    display: flex;
}
mat-card {
    padding: 20px;
    width: 40%;
    margin: 10px;
}
.haveAccountButton {
    display: flex;
    justify-content: center;
}