<div class="container">
    <mat-card *ngIf="!hasNoAccount">
    <h1 class="center">Login</h1>
    <form (ngSubmit)="submit()">
      <div class="center">
        <label>Email</label>
        <input type="email" formControlName="email" required />
      </div>
      <div class="center">
        <label>Password</label>
        <input type="password" formControlName="password" required />
      </div>
      <button type="submit" class="mx-auto">Login</button>
    </form>
</mat-card>
<mat-card *ngIf="hasNoAccount">
<h1 class="center">Register</h1>
<form (ngSubmit)="register()">
  <div class="center">
    <label>Username</label>
    <input type="text" formControlName="username" required />
  </div>
  <div class="center">
    <label>Email</label>
    <input type="email" formControlName="email" required />
  </div>
  <div class="center">
    <label>Password</label>
    <input type="password" formControlName="password" required />
  </div>
  <button type="submit" class="mx-auto">Register</button>
</form>
</mat-card>
  </div>
  <div class="haveAccountButton" *ngIf="!hasNoAccount">
    <button (click)="noAccount()">Dont have account?</button>
  </div>
  <div class="haveAccountButton" *ngIf="hasNoAccount">
    <button (click)="yesAccount()">Already have an account?</button>
  </div>