
<div id="gamepage-container">
    <div style="height: 10%;">
        Player data will go here.
    </div>
    <div id="game-grid-container">
        <table class="grid-order" id="grid-order-top">
            <tr id="grid-order-top-grid">
                <td class="grid-order-number" id="grid-order-top-number-{{order}}" *ngFor="let order of grid_order_top">{{order}}</td>
            </tr>
        </table>
        <div id="lower-container">
            <div class="grid-order" id="grid-order-side">
                <span class="grid-order-letter" *ngFor="let order of grid_order_side">{{order}}</span>
            </div>
            <div id="game-cards-container">
                <app-card [cards]="[shuffledArr]" [num]="num" *ngFor="let num of array20" (place)="onEmit($event)"/>
            </div>
        </div>
    </div>
</div>