<!-- <div className={card}>
    <h2 className={card-name}>{{cards[0].name}}</h2>
    <img src="{{cards[0].image}}"/>
    <div className={card-types-box}>
        <span className={card-types} id="card-type-one">{{cards[0].types.type1}}</span>
        <span className={card-types} id="card-type-two">{{cards[0].types.type2}}</span>
    </div>
</div> -->
<div *ngFor="let index of indexes">
    <div className={card}>
        <h2 className={card-name}>{{cards[index].name}}</h2>
        <img src="{{cards[index].image}}"/>
        <div className={card-types-box}>
            <span className={card-types} id="card-type-one">{{cards[index].types.type1}}</span>
            <span className={card-types} id="card-type-two">{{cards[index].types.type2}}</span>
        </div>
    </div>
</div>
