<!-- <mat-spinner [value]="value" mode="determinate">
</mat-spinner>
<mat-progress-spinner value="25" mode="determinate"></mat-progress-spinner>
<mat-progress-spinner [value]="value" [mode]="mode"></mat-progress-spinner> -->

<mat-card class="example-card">
  <mat-card-content>
    <h2>Username:</h2>
    <h3>Got2bGood</h3>
  </mat-card-content>

  <mat-card-content>
    <h2>Rank/Level</h2>
    <h3>Bronze</h3>
    <h3>40/130</h3>
  </mat-card-content>
</mat-card>


<mat-card class="example-card">
  <mat-card-content>
    <h2 class="example-h2">Result</h2>
    <section class="example-section">
      <mat-radio-group [(ngModel)]="color">
        <mat-radio-button class="example-margin" value="primary">
          <!-- THis will be where the user will see their wins -->
          Wins
        </mat-radio-button>
        <mat-radio-button class="example-margin" value="accent">
          <!-- This will be the loses the user has -->
          Loses
        </mat-radio-button>
      </mat-radio-group>
    </section>

  </mat-card-content>

  <mat-card-content >
    <mat-progress-spinner
      class="example-margin"
      [value]="value"
      mode="determinate"
      >
    </mat-progress-spinner>
  </mat-card-content>
  <mat-card-content>
    <label>List of players</label>
    <mat-list role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>    
  </mat-card-content>
</mat-card>